
    
{{> header}}

<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-3 col-6">
                    <a href="/admin/user">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{admins}}</h3>
                            <p>Admin</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6">
                    <a href="/admin/user">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{users}}</h3>
                            <p>Users</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6">
                    <a href="/admin/user">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{upcoming_contest}}</h3>
                            <p>Upcoming Contest</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6">
                    <a href="/admin/user">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{completed_contest}}</h3>
                            <p>Completed Contest</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6">
                    <a href="/admin/user">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{used_questions}}</h3>
                            <p>Used Question</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6">
                    <a href="/admin/user">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{unused_questions}}</h3>
                            <p>Unused Question</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6">
                    <a href="/admin/user">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{setting.cgst}}</h3>
                            <p>CGST</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6">
                    <a href="/admin/user">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{setting.sgst}}</h3>
                            <p>SGST</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6">
                    <a href="/admin/user">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{setting.admin_charge}}</h3>
                            <p>Admin Charge</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6">
                    <a href="/admin/user">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{setting.call_support_number}}</h3>
                            <p>Call Support</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6">
                    <a href="/admin/user">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{setting.whatsapp_support_number}}</h3>
                            <p>Whatsapp Number</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-6">
                    <a href="/admin/user">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{setting.pagination}}</h3>
                            <p>Pagination</p>
                        </div>
                    </div>
                    </a>
                </div>
                
                
            </div>
        </div>
    </section>


{{> footer}}