{{> header}}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>User Details</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">User Details</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{{user.profile_path}}"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{user.Name}}</h3>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Email</b> <a class="float-right">{{user.Email}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Phone</b> <a class="float-right">{{user.PhoneNumber}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Gender</b> <a class="float-right">{{user.Gender}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Wallet</b> <a class="float-right">{{user.wallet}}</a>
                  </li>
                </ul>
                
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#upcoming" data-toggle="tab">Upcoming Contest</a></li>
                  <li class="nav-item"><a class="nav-link" href="#completed" data-toggle="tab">Completed Contest</a></li>
                  <li class="nav-item"><a class="nav-link" href="#transaction" data-toggle="tab">Transaction</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="upcoming">
                      <div class="table-responsive">
                      <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>S No</th>
                    <th>Name</th>
                    <th>Entry</th>
                    <th>Starts at</th>
                  </tr>
                  </thead>
                  <tbody class="test">
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  </tbody>
                </table>
                      </div>
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="transaction">
                    <div class="table-responsive">
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>S No</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody class="test">
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
        
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="completed">
                    <div class="table-responsive">
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>S No</th>
                            <th>Name</th>
                            <th>Rank</th>
                            <th>Winning</th>
                          </tr>
                        </thead>
                        <tbody class="test">
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
        
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- /.tab-pane -->
                  
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{{> footer}}

</body>
</html>